@import '_variables';

footer { 
    background-color: $primaryColor;
    padding-top: 3em;
    color:$white;
    display: grid;
    place-items: center;
    
    div {
        margin: 7px auto;
        text-align: center;
    }

    h4 {
        color: $white;
        font-family: $sansFont;
        margin-bottom: 10px;
    }
        
    p, a {
        color: $white;
        margin-top: 10px;
        text-decoration: none;
    }
}
