@import '_variables';

.topBorder {
    background-color: $primaryColor;
    color: $white;
    margin-bottom: 10px;
    text-align: center;

    a {
        text-decoration: none;
        color: $white;
    }
}

#mobileHeader {
    display: grid;
    grid-template-columns: auto 3em;
    place-items: center;
    min-height: 10vh;
    
    a {
        text-decoration: none;
    }
    
    img {
        margin-left: 7px;
        margin-top: 3px;
        max-width: 100%;
    }

    h1 {
        font-size: 1.5em;
        font-family: $secFont;
        color: $primaryColor;
        margin-left: 22px;
    }

    #mobileHamMenu {
        #mobileCheckbox {
            width: 50px;
            height: 50px;
            position: absolute;
            right: 10px;
            opacity: 0;
            z-index: 5;
        }

        #mobileCheckbox:checked ~ #mobileHeaderMenu {
            top: 200px;
            opacity: 1;
            visibility: visible;
            transition: all 0.5s ease-in-out;
        }
    }

    
    #mobileContainer {
        display: grid;
        place-items: center;
        z-index: 4;
        position: relative;
        width: 50px;
        height: 50px;
        bottom: 10px;
        left: -11px;
        top: 2px;

        .hamLine {
            width: 40px;
            height: 5px;
            background-color: $black;
            margin: 5px 0;
        }
    }

    #mobileHeaderMenu {
        display: grid;
        // grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        place-items: center;
        width: 100%;
        height: 50%;
        background-color: $secColorLight;
        position: absolute;
        left: 0;
        opacity: 0;
        visibility: hidden;
        transition: all 0.5s ease-in-out;
        top: -15vh;
        z-index: 4;
        
    
        a {
            font-size: 2rem;
            text-decoration: none;
            color: $primaryColor;
            
        }
        
    }
}

@media only screen and (max-width: 900px) {
    
    #mobileHamMenu {

        .doubleLine {
            display: none;
        }
    }
}


@media only screen and (min-width: 600px) {

    h1 {
        font-size: 3em !important ;
    }
}

@media only screen and (min-width: 900px) {
    
    header {
        #mobileHeader {
            display: grid;
            grid-template-columns: auto;
            #mobileHamMenu {
                background-color: $white;
                width: 100%;
                #mobileCheckbox, #mobileContainer {

                    display: none;
                }

                #mobileHeaderMenu {
                    width: 80%;
                    margin: auto;
                    margin-bottom: 22px;
                    display: grid;
                    opacity: 1;
                    position: static;
                    padding: 0;
                    grid-template-columns: 1fr 1fr 1fr 1fr;
                    background-color: $white;
                    visibility: visible;

                    .active {
                        background-color: $primaryColor;
                        color: $white;
                    }

                    a {
                            // padding-bottom: 20px;
                        &:hover {
                            background:linear-gradient(to bottom, #634b30 5%, #7d5d3b 100%);
                            background-color:#634b30;
                            color: $white;
                            padding-bottom:0;
                            transition: 0.4s;
                        
                        }

                        
                    }
                }
            }
        }
    }
}
