$sansFont: 'Open Sans', sans-serif;
$serifFont: 'Quattrocento', serif;
$secFont: 'Cinzel Decorative', cursive;

// $primaryColor: #dc602e;
$primaryColor: #69240e;
// $secColor: #128177;
// $secColor: #306b34;
$secColor: #867a3c;
$secColorLight: #867a3c;

$faceBookColor: #4267B2;
$twitterColor: #00ACEF;

$white: #ffffff;
$black: #000000;
