$sansFont: 'Open Sans', sans-serif;
$serifFont: 'Quattrocento', serif;
$secFont: 'Cinzel Decorative', cursive;

// $primaryColor: #dc602e;
$primaryColor: #69240E;
// $secColor: #128177;
// $secColor: #306b34;
// $secColor: #E3D8BE;
$secColorLight: #F5F5EA;
// $secColorLight: #6E8B3D;

$mainBkgColor: #F5F5EA;

$faceBookColor: #4267B2;
$twitterColor: #00ACEF;

$white: #ffffff;
$black: #000000;
