$sansFont: 'Open Sans', sans-serif;
$serifFont: 'Quattrocento', serif;
$secFont: 'Cinzel Decorative', cursive;

$primaryColor: #69240E;
$secColorLight: #F5F5EA;

$faceBookColor: #4267B2;
$twitterColor: #00ACEF;

$white: #ffffff;
$black: #000000;
