$primaryBlue: #010e54;
$brightGrey: #EEECF1;

@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quattrocento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');


@import "_header";
@import "_footer";

* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr auto auto 1fr;
}

h2 {
    font-family: 'Open Sans', sans-serif;
    color: white;
    text-align: center;
}

.contactContainer {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    max-width: 100%;
    background-color: $brightGrey;
    margin-top: 10px;
    place-items: center;

    h3 {
        font-family: 'Open Sans', sans-serif;
        
    }
    
    p {
        font-family: 'Quattrocento', serif;
        color: $primaryBlue;
    }

    a {
        font-family: 'Quattrocento', serif;
        text-decoration: none;
        color: white;
    }
}

.button {
    border: solid 5px darkgray;
    border-radius: 10%;
    background-color: $primaryBlue;
    color: white;
    text-align: center;
    margin-top: 10px;
}

.doubleLine {
    border-top: 4px double $primaryBlue;
    padding: 10px 0;
    margin-top: 20px;
}

// .phoneButton {
    
// }

.videoContainer {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding-top: 75%;
    margin-top: 20px;
    
}

.positionIframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 80%;
    height: 80%;
    
    
}

iframe {
    margin: 0 auto;
}

img {
    max-width: 100%;
}

footer {
    margin-top: 20px;
}

// iframe {
//     max-width: 100%;
//     padding: 1em 4em;
// }