@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quattrocento&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  -ms-grid-rows: 1fr auto 1fr;
      grid-template-rows: 1fr auto 1fr;
}

.topBorder {
  font-family: 'Quattrocento', serif;
  background-color: #010e54;
  padding: 5px;
  color: white;
  margin-bottom: 10px;
}

div > h1 {
  font-size: 1.5rem;
  font-family: 'Cinzel Decorative', cursive;
  color: #010e54;
  margin-left: 22px;
  margin-top: 10px;
}

#mobileHeader {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 12vw auto 1fr;
      grid-template-columns: 12vw auto 1fr;
  place-items: center;
  min-height: 10vh;
}

#mobileHeader img {
  margin-left: 7px;
  margin-top: 3px;
  max-width: 100%;
}

#mobileHamMenu #mobileCheckbox {
  width: 50px;
  height: 50px;
  position: absolute;
  right: 10px;
  opacity: 0;
  z-index: 5;
}

#mobileHamMenu #mobileCheckbox:checked ~ #mobileHeaderMenu {
  top: 200px;
  opacity: 1;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

#mobileContainer {
  display: -ms-grid;
  display: grid;
  place-items: center;
  z-index: 4;
  position: relative;
  width: 50px;
  height: 50px;
  bottom: 10px;
}

#mobileContainer .hamLine {
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
}

#mobileHeaderMenu {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(200px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  place-items: center;
  width: 100%;
  height: 50%;
  background-color: #010e54;
  position: absolute;
  left: 0;
  opacity: 0;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  top: -15vh;
}

#mobileHeaderMenu a {
  font-size: 2rem;
  font-family: 'Quattrocento', serif;
  text-decoration: none;
  color: white;
}

img {
  max-width: 100%;
}

.colorBlock {
  background-color: #010e54;
  padding: 5px;
  color: white;
}

.colorBlock p {
  font-family: 'Quattrocento', serif;
}

h3 {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5em;
  color: #010e54;
}

h3 + p {
  font-family: 'Quattrocento', serif;
  font-size: 1.5rem;
  color: black;
}

div > img {
  max-width: 100%;
  margin-top: 20px;
}

.footerGrid {
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.footerGrid div {
  margin: 7px auto;
  text-align: center;
}

footer h4 {
  color: white;
  font-family: 'Open Sans', sans-serif;
}

footer p {
  font-family: 'Quattrocento', serif;
  color: white;
}

footer a {
  font-family: 'Quattrocento', serif;
  color: white;
  text-decoration: none;
}

.fa-facebook-square {
  color: #4267B2;
}

.fa-twitter {
  color: #00ACEF;
}
/*# sourceMappingURL=style.css.map */