@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quattrocento&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap");
* {
  padding: 0;
  margin: 0;
}

.topBorder {
  background-color: #69240E;
  color: #ffffff;
  margin-bottom: 10px;
  text-align: center;
}

.topBorder a {
  text-decoration: none;
  color: #ffffff;
}

#mobileHeader {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 3em;
      grid-template-columns: auto 3em;
  place-items: center;
  min-height: 10vh;
}

#mobileHeader a {
  text-decoration: none;
}

#mobileHeader img {
  margin-left: 7px;
  margin-top: 3px;
  max-width: 100%;
}

#mobileHeader h1 {
  font-size: 1.5em;
  font-family: "Cinzel Decorative", cursive;
  color: #69240E;
  margin-left: 22px;
}

#mobileHeader #mobileHamMenu #mobileCheckbox {
  width: 50px;
  height: 50px;
  position: absolute;
  right: 10px;
  opacity: 0;
  z-index: 5;
}

#mobileHeader #mobileHamMenu #mobileCheckbox:checked ~ #mobileHeaderMenu {
  top: 200px;
  opacity: 1;
  visibility: visible;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

#mobileHeader #mobileContainer {
  display: -ms-grid;
  display: grid;
  place-items: center;
  z-index: 4;
  position: relative;
  width: 50px;
  height: 50px;
  bottom: 10px;
  left: -11px;
  top: 2px;
}

#mobileHeader #mobileContainer .hamLine {
  width: 40px;
  height: 5px;
  background-color: #000000;
  margin: 5px 0;
}

#mobileHeader #mobileHeaderMenu {
  display: -ms-grid;
  display: grid;
  place-items: center;
  width: 100%;
  height: 50%;
  background-color: #F5F5EA;
  position: absolute;
  left: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  top: -15vh;
  z-index: 4;
}

#mobileHeader #mobileHeaderMenu a {
  font-size: 2rem;
  text-decoration: none;
  color: #69240E;
}

@media only screen and (max-width: 900px) {
  #mobileHamMenu .doubleLine {
    display: none;
  }
}

@media only screen and (min-width: 600px) {
  h1 {
    font-size: 3em !important;
  }
}

@media only screen and (min-width: 900px) {
  header #mobileHeader {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
  header #mobileHeader #mobileHamMenu {
    background-color: #ffffff;
    width: 100%;
  }
  header #mobileHeader #mobileHamMenu #mobileCheckbox, header #mobileHeader #mobileHamMenu #mobileContainer {
    display: none;
  }
  header #mobileHeader #mobileHamMenu #mobileHeaderMenu {
    width: 80%;
    margin: auto;
    margin-bottom: 22px;
    display: -ms-grid;
    display: grid;
    opacity: 1;
    position: static;
    padding: 0;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: #ffffff;
    visibility: visible;
  }
  header #mobileHeader #mobileHamMenu #mobileHeaderMenu .active {
    background-color: #69240E;
    color: #ffffff;
  }
  header #mobileHeader #mobileHamMenu #mobileHeaderMenu a:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #634b30), to(#7d5d3b));
    background: linear-gradient(to bottom, #634b30 5%, #7d5d3b 100%);
    background-color: #634b30;
    color: #ffffff;
    padding-bottom: 0;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
}

footer {
  background-color: #69240E;
  padding-top: 3em;
  color: #ffffff;
  display: -ms-grid;
  display: grid;
  place-items: center;
  padding-bottom: 3em;
}

footer div {
  margin: 7px auto;
  text-align: center;
}

footer h4 {
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 10px;
}

footer p, footer a {
  color: #ffffff;
  margin-top: 10px;
  text-decoration: none;
}

@media screen and (min-width: 900px) {
  footer {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1.5fr 1.5fr 1.5fr;
        grid-template-columns: 1.5fr 1.5fr 1.5fr;
    place-items: start;
    text-align: center;
    font-size: 1.2em;
    padding-bottom: 1em;
  }
}

html, body {
  height: 100%;
}

body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  -ms-grid-rows: 1fr auto 1fr;
      grid-template-rows: 1fr auto 1fr;
  font-family: "Quattrocento", serif;
}

.fa-facebook-square {
  color: #4267B2;
  font-size: 2.5em;
}

.fa-twitter {
  color: #00ACEF;
  font-size: 2.5em;
  margin-right: 14px;
}

img {
  width: 100%;
  display: inherit;
}

.splashSize {
  -o-object-fit: cover;
     object-fit: cover;
  height: 65%;
}

.ctaButtonContainer {
  position: relative;
}

.ctaButton {
  -webkit-box-shadow: inset 0px 1px 0px 0px #a6827e;
          box-shadow: inset 0px 1px 0px 0px #a6827e;
  background-color: #69240E;
  border: 1px solid #ffffff;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #4d3534;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.ctaButton:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #634b30), to(#7d5d3b));
  background: linear-gradient(to bottom, #634b30 5%, #7d5d3b 100%);
  background-color: #69240E;
}

.line {
  height: 7px;
  width: 100%;
  background-color: #69240E;
}

.lineTop {
  border-bottom: 2px solid #ffffff;
}

.lineBottom {
  border-top: 2px solid #ffffff;
}

.lineHeight {
  line-height: 1.5em;
}

.sectionTextCon {
  text-align: center;
  margin-bottom: 30px;
}

.sectionTextCon h2 {
  font-family: "Open Sans", sans-serif;
  font-size: 1.5em;
  color: #69240E;
}

.sectionTextCon p {
  padding: 0.5em;
  font-size: 1.3rem;
}

.textContainer {
  padding: 2em 0.5em;
}

.textContainer h2 {
  font-family: "Open Sans", sans-serif;
  font-size: 1.5em;
  color: #69240E;
}

.textContainer p {
  padding: 0.5em;
  font-size: 1rem;
}

.gridContainer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
}

.gridCenter {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
}

.centerText {
  text-align: center;
}

.justifiedText {
  text-align: justify;
}

.redContainer {
  font-family: "Quattrocento", serif;
  background-color: #69240E;
  font-size: 1.5em;
  font-weight: normal;
  color: #ffffff;
}

.redContainer h2 {
  color: #ffffff;
}

.bolder {
  font-weight: bold;
}

.doubleLine {
  max-width: 90%;
  border-top: 4px double #69240E;
  padding: 10px 0;
  margin-top: 20px;
  margin: 0 auto;
}

.decNone {
  text-decoration: none;
  color: #000000;
}

.squish {
  max-width: 90%;
  margin: auto;
  margin-top: 30px;
}

.squish h2 {
  text-align: center;
}

.prmTextColor {
  color: #69240E;
}

.mrgBttm {
  margin-bottom: 30px;
}

.padding {
  margin: 0 auto;
  padding: 0.5px;
}

.videoContainer {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-top: 66.6%;
}

.videoContainer .positionIframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: none;
}

.menuGrid {
  padding: 2em 0.5em;
  line-height: 2;
  text-align: center;
}

.menuGrid h3 {
  color: #69240E;
  font-weight: bolder;
  font-size: 1.5rem;
}

.menuGrid .menuContentItem {
  margin: 2em 0;
  padding: 1.5em 2em;
}

.menuGrid .menuItem {
  font-family: "Open Sans", sans-serif;
  color: #69240E;
}

.menuGrid .menuDescription, .menuGrid .menuPrice {
  display: block;
}

.menuGrid .menuPrice {
  color: #69240E;
}

.menuBtmMgn {
  margin-bottom: 20px;
}

.menuTopPad {
  padding-top: 20px;
}

.btmPad {
  padding-bottom: 20px;
}

.locContent .locRow {
  margin: 1em 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
}

.locContent .locRow h2 {
  place-items: center;
}

.locContent .locRow p {
  padding: 0;
  font-size: 1.3rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.vertCard {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  max-width: 70%;
  margin: auto;
}

.nrrwContainer {
  max-width: 1300px;
  margin: 0 auto;
}

.sectionGrid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  margin-bottom: 35px;
}

.sectionGrid div h2 {
  font-family: "Open Sans", sans-serif;
  color: #69240E;
  text-align: center;
}

.sectionGrid div p {
  font-family: "Quattrocento", serif;
  font-size: 1.3rem;
  color: #69240E;
  padding-top: 5px;
  margin: 0 auto;
}

@media only screen and (max-width: 600px) {
  .doubleLine2 {
    max-width: 90%;
    border-top: 4px double #69240E;
    padding: 10px 0;
    margin-top: 20px;
    margin: 0 auto;
  }
  .sectionGrid {
    display: block;
  }
  .squish {
    max-width: 100%;
  }
  .noPointerEvent {
    pointer-events: visible !important;
  }
  .mrgTop {
    margin-top: 30px;
  }
}

@media only screen and (max-width: 900px) {
  .squish {
    max-width: 100%;
    margin: 30px;
  }
  .squisher {
    max-width: 100%;
    margin: auto;
  }
  .mrgTop {
    margin-top: 30px;
  }
}

@media only screen and (min-width: 600px) {
  .topBorder p {
    font-size: 1.5em;
  }
  .textContainer p {
    font-size: 1.3rem;
    margin: auto;
  }
  .locContent div > h2 {
    font-size: 2em;
  }
  .locContent .locRow {
    margin: 1em 0;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 2fr 2fr;
        grid-template-columns: 2fr 2fr;
  }
  .locContent .locRow h2 {
    font-size: 2em;
  }
  .locContent .locRow p {
    font-size: 2em;
  }
  .menuGrid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
  }
  .itemSplit {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 2fr 2fr;
        grid-template-columns: 2fr 2fr;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
  }
  .doubleLine2 {
    max-width: 90%;
    border-top: 4px double #69240E;
    padding: 10px 0;
    margin-top: 20px;
    margin: 0 auto;
  }
  .videoContainer {
    height: 25%;
    margin: 0 auto;
    padding-top: 50%;
    display: inline-table;
  }
  .ctaButton {
    font-size: 1.5em;
  }
}

.noPointerEvent {
  pointer-events: none;
}

@media only screen and (min-width: 900px) {
  .menuGrid {
    max-width: 80%;
    margin: 0 auto;
  }
  .menuGrid h3 {
    font-size: 2em;
  }
  .menuGrid .itemSplit {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 2fr 2fr 2fr;
        grid-template-columns: 2fr 2fr 2fr;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
  }
  .twoCol {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .twoCol h2 {
    text-align: center;
  }
  .twoCol p {
    padding-left: 5em;
    padding-right: 5em;
    line-height: 1.7em;
  }
  .twoColRev {
    direction: rtl;
  }
  .twoColRev p {
    direction: ltr;
  }
  .mrgTopBtm {
    margin: 20px 0;
  }
  .splashSize {
    -o-object-fit: cover;
       object-fit: cover;
    height: 65vh;
  }
  .squisher {
    max-width: 45%;
    margin: auto;
  }
  .doubleLine2 {
    max-width: 100%;
    border-top: 4px double #69240E;
    padding: 10px 0;
  }
  #dskFontSize {
    font-size: 1.5em;
  }
  .mrgCenter {
    margin: auto;
  }
}
/*# sourceMappingURL=style.css.map */